.container {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.column {
  border: 2px solid white;
  border-top-width: 1px;
  border-bottom-width: 1px;
}

